.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url(../img/preloader.gif) center no-repeat #ffffff;
}
.bg-image {	
	height: 105vh;  
	background-image: url("../img/seattle.jpg");
	background-size: cover; 
}
	nav.navbar { 
		opacity: 0.5;
		background-color: black;
		font-size: 1.1em;
		border: none;
		margin-top: 1.3vw;
		z-index: 10;
		transition: all linear 0.3s;
		-webkit-transition: all linear 0.3s;
		-moz-transition: all linear 0.3s;
	}
		span.navbar-brand {
			color: white !important;
			font-size: 1.2em;
			margin-left: 10px;
		}
		.nav-bar li {
			color: white;
			font-family: 'Varela Round', sans-serif;
			cursor: pointer;
			padding: 15px 1.8vw;
			transition: all ease 0.3s;
			-webkit-transition: all ease 0.3s;
			-moz-transition: all ease 0.3s;
		}
		.nav-bar li:last-of-type {
			margin-right: 5vw;
		}
			.nav-bar li span:hover {
				color: #ff5a00;
			}
		.navbar-toggle {
			border: none;
		}
		.navbar-toggle {
			color: white;
			background-color: black;
			border: none;
			transition: all ease 0.4s;
			-webkit-transition: all ease 0.5s;
			-moz-transition: all ease 0.5s;
		}
		.navbar-toggle:hover {
			color: black;
			background-color: white;
			border: none;
			transition: all ease 0.4s;
			-webkit-transition: all ease 0.5s;
			-moz-transition: all ease 0.5s;
		}
	.header-container {
		color: white;
		font-weight: bold;
		text-align: right;
		margin-right: 5vw; 	 
		padding-top: 4vw; 
		text-shadow: 0 0 0.6vw #eee;
	}
		.topHeader {
			font-family: 'Montserrat', sans-serif;
			font-size: 9vw; 
			margin-top: 10vh;
		}
		.portrait {
			width: 6.75vw;
			height: 6.75vw;
			background-color: white;
			border-radius: 50%;
			background-image: url("../img/logo/yubao.jpg");
			background-repeat: no-repeat;
			background-size: 100%;
			border: 1.1vw solid white;
			box-shadow: 0 0 0.6vw #eee;
		}
		.topHeader, .portrait {
			display: inline-block;
		}
		.midHeader {
			font-family: 'Josefin Slab', serif; 
			font-size: 6vw;
		}
		.bottomHeader {
			font-family: 'Josefin Slab', serif;
			font-size: 5vw;
		}
			.bottomHeader span {
				font-family: 'Great Vibes', cursive;
				font-size: 7.5vw; 
			}
	.link-container {
		text-align: right;
		margin-top: 4vh;
		margin-right: 5vw;
	}
		.link-container a div {
			transform: scale(1);
			transition-duration: 0.2s;
		}
		.link-container a div:hover {
			transform: scale(1.3);
			transition-duration: 0.4s;
			animation: logo-spin infinite 3s linear;
		}
		@keyframes logo-spin {
			from { transform: rotate(0deg) }
		    to { transform: rotate(360deg) }
		}
		.twitterLink, .instagramLink, .githubLink, .linkedinLink, .facebookLink, .wechat {
			display: inline-block;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			margin-left: 0.7vw;
			margin-right: 0.7vw;
			vertical-align: top;
			border: 2px solid white;
			box-shadow: 0 0 1vw white;
			background-size: 100%; 
		}
		.twitterLink {
			background-image: url("../img/logo/twitter-logo.png");
		}
		.instagramLink {
			background-image: url("../img/logo/instagram-logo.png");
		}
		.githubLink {
			background-image: url("../img/logo/github-logo.png");
		}
		.linkedinLink {
			background-image: url("../img/logo/linkedin.png");
		}
		.facebookLink {
			background-image: url("../img/logo/facebook-logo.png");
		}
		.wechat {
			background-image: url("../img/logo/wechat-logo.png");
		}
	div#wechat {
		width: 220px;
		height: 291px;
	    background-image: url("../img/logo/QR.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	    border-radius: 5px;
	    box-shadow: 2px 2px 5px gray;
	    position: absolute;
	    display: none;
	}
.white-space-container, .about-container, .contact-container {
	opacity: 0.9;
	background-color: white; 
	font-family: 'Oswald', sans-serif;
	text-align: center; 
	padding-top: 45px; 
}
.white-space-container {
	text-align: center; 
	padding-bottom: 1.8vw; 
}
	.white-space-container span, .about-container span, .contact-container span {
		color: #ff5A00;
	}
.projects-container {
	opacity: 0.9;
	height: calc(100vh - 45px - 4.8vw);
	background-color: white;
	text-align: center;
}
	.projects-container .projects {
		background-size: 85%; 
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
	}
	.top-row .left {
		background-image: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png");
	}
	.top-row .mid {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2000px-HTML5_logo_and_wordmark.svg.png");
	}
	.top-row .right {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2000px-Python-logo-notext.svg.png");
	}
	.mid-row .left {
		background-image: url("http://www.b2bweb.fr/wp-content/uploads/js-logo-badge-512.png");
	}
	.mid-row .mid {
		background-image: url("http://fullstacktutorials.net/wp-content/uploads/2015/11/mean3.png");
	}
	.mid-row .right {
		background-image: url("https://www.djangoproject.com/m/img/logos/django-logo-positive.png");
	}
	.bot-row .left {
		background-image: url("http://1u88jj3r4db2x4txp44yqfj1.wpengine.netdna-cdn.com/wp-content/uploads/2015/10/Microsoft_.NET_Logo.svg_-930x886.png");
	}
	.bot-row .mid {
		background-image: url("http://www.logospike.com/wp-content/uploads/2016/05/Csharp_Logo_03.png");
	}
	.bot-row .right {
		background-image: url("https://i.imgur.com/fINuUV1.jpg");
		background-size: 100%; 
	}
	.projects:hover {
		outline: 2px solid #FFA500; 
	}
.bg-image2 { 
	height: 364vh; 
	background-image: url("../img/santa secret.jpg");
	background-size: 100%; 
}
.parallax-container {
	height: 30vh; 
	opacity: 0.5;
	background-color: black; 
}
.about-container {
	height: 100vh;
	opacity: 0.9;
}	
	.about-container h1 {
		margin-bottom: 5vh; 
	}
	.pic-container {
		width: 35vw;
		height: 15.75vw; 
		background-image: url("../img/aboutMe.jpg");
		background-size: contain; 
		background-repeat: no-repeat;
		margin-top: 2vh;
		display: inline-block;
	}
	.text-container {
		width: 40%;
		font-family: 'Josefin Slab', serif;
		font-weight: 550;
		text-align: left;
		display: inline-block;
		vertical-align: top; 
	}
		.text-container p {
			margin-bottom: 15px; 
		}
.parallax2-container {
	height: 30vh;
	opacity: 0.5;
	background-color: black;
}
.contact-container {
	opacity: 0.9;
	padding-bottom: 0.5vw;
}
	.contact-container h1 {
		margin-bottom: 1vw
	}
	.contact-container p {
		color: black;
		font-size: 1.5em;
	}
		.contact-container p span {
			font-size: 1em;
		}
footer {
	margin: 1vw 0;
}
.scrollTop {
	padding: 15px;
	color: white;
	background-color: #FFA500;
	font-weight: bold;
	border-radius: 50%;
	cursor: pointer;
	position: fixed;
	top: calc(100vh - 55px);
	left: calc(100vw - 60px);
	z-index: 100;
}
.scrollTop:hover {
	background-color: #cb8607;
}
/* media queries */
@media (min-width: 1030px) {
  	.projects {
		width: 10vw;
		height: 10vw;
		margin: 1vw 4vw;
	}
	.text-container {
		font-size: 2.1vw;
	}
	h1 {
		font-size: 3vw; 
	}
}
@media (max-width: 1030px) {
	.projects {
		width: 16vw;
		height: 16vw;
		margin: 1.5vw 4vw;
	}
	.text-container p {
		font-size: 2em;
	}
	h1 {
		font-size: 2.4em; 
	}
}
@media (max-width: 767px) {
	.nav-bar li:last-of-type {
			margin-right: 0;
	}
	.projects {
		width: 20vw;
		height: 20vw;
		margin: 4vw 2vw;
	}
	.text-container p {
		font-size: 1.6em;
	}
	.about-container {
		height: 130vh;
	}
	.bg-image2 { 
		height: 395vh; 
	}
	h1 {
		font-size: 2em; 
	}
}
@media (max-width: 737px) {
	.white-space-container, .about-container, .contact-container {
		padding-top: 30px;
	}
	.projects-container {
		height: 120vh;
	}
	.projects {
		width: 18vw;
		height: 18vw;
		margin: 2vw 4vw;
	}
	.text-container p {
		font-size: 1.3em;
	}
	.about-container {
		height: 125vh;
	}
	.bg-image2 { 
		height: 400vh; 
	}
	.parallax-container, .parallax2-container {
		height: 0;
	}
	h1 {
		font-size: 1.8em; 
	}
}
@media (max-width: 670px) {
	.text-container p {
		font-size: 1.2em;
	}
}
@media (max-width: 570px) {
	.text-container p {
		font-size: 1em;
	}
}
@media (max-width: 420px) {
	.projects-container {
		height: 100vh;
	}
	.projects {
		width: 25vw;
		height: 25vw;
		margin: 8vw 2vw;
	}
	.pic-container {
		display: none;
	}
	.about-container {
		height: 100vh;
	}
		.text-container {
			width: 70%;
		}
			.text-container p {
				font-size: 1.5em;
			}
	.bg-image2 { 
		height: 296.3vh; 
	}
}
@media (max-width: 380px) {
	.about-container {
		height: 120vh;
	}
		.text-container {
			width: 70%;
		}
			.text-container p {
				font-size: 1.4em;
			}
	.bg-image2 { 
		height: 316vh; 
	}
}