* {
	margin: 0px; 
	padding: 0px;
	text-decoration: none; 
}
.bg-image {	
	height: 110vh;  
	background-image: url("../img/seattle.jpg");
	background-size: 100%; 
}
	.nav-bar-container { 
		padding-top: 2.5vh;
		opacity: 0.5;
	}
		.nav-bar {
			background-color: black; 
			text-align: right; 
		}
			.nav-bar li {
				color: white;
				font-family: 'Varela Round', sans-serif;
				font-size: calc(1.4 * (1vw + 1vh)/2);
				padding: 1.6vh 1.6vw;
				cursor: pointer;
				display: inline-block;
			}
			.nav-bar li:last-of-type {
				margin-right: 3vw;
			}
			.nav-bar li:hover {
				color: #ff5A00;
				font-weight: bold;
			}
	.header-container {
		color: white;
		padding-top: 7vh; 
		text-shadow: 0 0 0.6vw #eee;
	}
		.header-container div {
			text-align: center; 	 
		}
			.topHeader {
				font-family: 'Montserrat', sans-serif;
				font-size: calc(16 * (1vw + 1vh)/2); 
			}
			.portrait {
				width: calc(8 * (1vw + 1vh)/2);
				height: calc(8 * (1vw + 1vh)/2);
				background-color: white;
				border-radius: 50%;
				background-image: url("../img/yubao.jpg");
				background-size: 100%;
				border: calc(2 * (1vw + 1vh)/2) solid white;
				box-shadow: 0 0 0.6vw #eee;
			}
			.topHeader, .portrait {
				display: inline-block;
			}
		.midHeader {
			font-family: 'Josefin Slab', serif; 
			font-size: calc(10 * (1vw + 1vh)/2); 
			text-align: center; 
		}
		.bottomHeader {
			font-family: 'Josefin Slab', serif;
			font-size: calc(9 * (1vw + 1vh)/2);
			text-align: center; 
		}
			.bottomHeader span {
				font-family: 'Great Vibes', cursive;
				font-size: calc(12 * (1vw + 1vh)/2); 
			}
	.link-container {
		text-align: center;
		margin-top: 6vh; 
	}
		.link-container a div {
			transform: scale(1);
			transition-duration: 0.2s;
		}
		.link-container a div:hover {
			transform: scale(1.3);
			transition-duration: 0.4s;
			animation: logo-spin infinite 3s linear;
		}
		@keyframes logo-spin {
			from { transform: rotate(0deg) }
		    to { transform: rotate(360deg) }
		}
		.twitterLink, .instagramLink, .githubLink, .linkedinLink, .facebookLink, .wechat {
			display: inline-block;
			width: 3.3vw;
			height: 3.3vw;
			border-radius: 50%;
			margin-left: 0.7vw;
			margin-right: 0.7vw;
			vertical-align: top;
			border: 2px solid white;
			box-shadow: 0 0 1vw white;
		}
		.twitterLink {
			background-image: url("../img/twitter-logo.png");
			background-size: 100%; 
		}
		.instagramLink {
			background-image: url("../img/instagram-logo.png");
			background-size: 100%;
		}
		.githubLink {
			background-image: url("../img/github-logo.png");
			background-size: 100%; 
		}
		.linkedinLink {
			background-image: url("../img/linkedin.png");
			background-size: 100%; 
		}
		.facebookLink {
			background-image: url("../img/facebook-logo.png");
			background-size: 100%; 
		}
		.wechat {
			background-image: url("../img/wechat-logo.png");
			background-size: 100%; 
		}
	div#wechat {
		width: 21.5vw;
		height: calc(1.323 * 21.5vw);
	    background-image: url("../img/QR.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	    border-radius: 5px;
	    box-shadow: 2px 2px 5px gray;
	    position: absolute;
	    display: none;
	}
.white-space-container, .about-container, .contact-container {
	opacity: 0.9;
	background-color: white; 
	font-size: calc(2.9 * (1vw + 1vh)/2); 
	font-family: 'Oswald', sans-serif;
	text-align: center; 
	padding-top: 5vh; 
	padding-bottom: 7vh; 
}
	.white-space-container h1 {
		text-align: center; 
	}
		.white-space-container span, .about-container span, .contact-container span {
			color: #ff5A00;
		}
.projects-container {
	text-align: center;
	background-color: white;
	opacity: 0.9;
}
	.top-row, .mid-row, .bot-row {
		padding: 1vw 2vw; 
	}
		.top-row a, .mid-row a, .bot-row a {
			margin: 0 4vw; 
		}
			.projects-container .projects {
				width: 10vw;
				height: 10vw;
				background-size: 85%; 
				background-repeat: no-repeat;
				background-position: center;
				display: inline-block;
			}
			.top-row .left {
				background-image: url("");
			}
			.top-row .mid {
				background-image: url("https://lh4.ggpht.com/KlhaTrjM6qPnf14RzwOK6Oau0WKYYL2w1BMgqSur6ukRUYW3nrzEjTqQwhYfQiu5C7w=w300");
			}
			.top-row .right {
				background-image: url("https://s-media-cache-ak0.pinimg.com/736x/0f/80/df/0f80df2bc849531e5343f04a35e6baae.jpg");
			}
			.mid-row .left {
				background-image: url("http://indiepixelgames.com/wp-content/uploads/2016/04/300-Px-Icon.png");
			}
			.mid-row .mid {
				background-image: url("https://i.vimeocdn.com/portrait/11495396_300x300.jpg");
			}
			.mid-row .right {
				background-image: url("http://www.clipartsfree.net/vector/small/4707-cat-smile-clipart.png");
			}
			.bot-row .left {
				background-image: url("http://static.tumblr.com/3bed8fdf137e5b806e8f6b2a5d89b127/c6x83eg/2k9n19g29/tumblr_static_tumblr_static_totoro_pixel.png");
			}
			.bot-row .mid {
				background-image: url("https://lh5.ggpht.com/At1hyJ2vxHBHwji0TfHHoo3iWxuSDwwXuP3CiMUuNhmJZerwkJGOtgIqRxlFR-GFVJw=w300"); 
			}
			.bot-row .right {
				background-image: url("https://lh4.ggpht.com/CWDs9fOZqYXXs1YMpjIb_6BnCidqagfaKQ1HNIhNhzYzCngPCWmoWI3sNRUrOJd2cYk=w300");
			}
			.projects-container a:hover {
				outline: 2px solid #FFA500; 
			}
.bg-image2 { 
	height: 360vh; 
	background-image: url("../img/santa secret.jpg");
	background-size: 100%; 
}
.parallax-container {
	height: 40vh; 
	opacity: 0.4;
	background-color: black; 
}
.about-container {
	height: 100vh;
	opacity: 0.9;
	padding-bottom: 0;
}	
	.about-container h1 {
		margin-bottom: 10vh; 
	}
	.about-container .pic-container {
		width: 40vw;
		height: calc(40vw * 0.45); 
		background-image: url("../img/aboutMe.jpg");
		background-position: center; 
		background-repeat: no-repeat;
		margin-right: 5vw; 
		display: inline-block;
	}
	.about-container .text-container {
		width: 40%;
		font-family: 'Josefin Slab', serif;
		text-align: left;
		display: inline-block;
		vertical-align: top; 
	}
		.text-container p:nth-child(1) {
			margin-bottom: 5vh; 
		}
		.text-container p:nth-child(2) {
			margin-top: 5vh; 
			margin-bottom: 5vh; 
		}
.parallax2-container {
	height: 40vh;
	opacity: 0.4;
	background-color: black;
}
.contact-container {
	opacity: 0.9;
}