* {
	margin: 0px; 
	padding: 0px;
	text-decoration: none; 
}
.container {

}
.bg-image {	
	height: 950px;  
	/*background-image: url("santa secret.jpg");*/
	background-image: url("../img/seattle.jpg");
	/*background-image: url("http://i.imgur.com/HUlMrVB.jpg");*/
	/*background-image: url("https://images8.alphacoders.com/370/370203.jpg");*/
	background-size: 100%; 
}
	.nav-bar-container { 
		padding-top: 20px; 
	}
		.nav-bar {
			background-color: black; 
			opacity: 0.6;
			text-align: right; 
		}
		.nav-bar li {
			padding: 20px 15px; 
			display: inline-block;
			font-family: 'Varela Round', sans-serif;
			color: #eee;
		}
			.nav-bar li span {
				color: #eee;
				cursor: pointer;
			}
				.nav-bar li span:hover {
					color: #ff5A00;
				}
	.header-container {
		padding-top: 20px; 
		color: #ffffff;
		text-shadow: 0 0 16px #eee;
	}
		.header-container div {
			text-align: center; 	 
		}
			.topHeader {
				font-family: 'Montserrat', sans-serif;
				font-size: 200px; 
			}
			.portrait {
				background-color: white;
				width: 105px;
				height: 105px;
				border-radius: 50%;
				background-image: url("../img/yubao.jpg");
				background-size: 100%;
				border: 22px solid white;
				box-shadow: 0 0 16px #eee;
			}
			.topHeader, .portrait {
				display: inline-block;
			}
		.midHeader {
			font-family: 'Josefin Slab', serif; 
			font-size: 120px; 
			text-align: center; 
		}
		.bottomHeader {
			font-family: 'Josefin Slab', serif;
			font-size: 100px;
			text-align: center; 
		}
			.bottomHeader span {
				font-family: 'Great Vibes', cursive;
				font-size: 140px; 
			}
	.link-container {
		text-align: center;
		margin-top: 35px; 
	}
		.link-container a div {
			transform: scale(1);
			transition-duration: 0.2s;
		}
		.link-container a div:hover {
			transform: scale(1.3);
			transition-duration: 0.4s;
		}
		.twitterLink, .instagramLink, .githubLink, .linkedinLink, .facebookLink, .freeCodeCampLink, .WeChat {
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			margin-left: 10px;
			margin-right: 10px;
			vertical-align: top;
			border: 2px solid white;
			box-shadow: 0 0 10px white;
		}
		.twitterLink {
			/*background-image: url("http://idge.staticworld.net/images/twitter.svg");*/
			background-image: url("http://a4.mzstatic.com/us/r30/Purple/v4/cd/3a/40/cd3a40f3-f487-da12-ade3-455b90a0194a/icon_340.png");
			background-size: 100%; 
		}
		.instagramLink {
			background-image: url("https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/14556518_1302033193164066_490265911046775615_o.png?oh=3639d66467978fce4062d46fef95a7d1&oe=58E3EE13");
			background-size: 100%;
		}
		.githubLink {
			background-image: url("https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ.png");
			background-size: 100%; 
		}
		.linkedinLink {
			/*background-image: url("http://idge.staticworld.net/images/linkedin.svg");*/
			background-image: url("https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300");
			background-size: 100%; 
		}
		.facebookLink {
			background-image: url("https://www.facebook.com/images/fb_icon_325x325.png");
			/*background-image: url("http://idge.staticworld.net/images/facebook.svg");*/
			background-size: 100%; 
		}
		.WeChat {
			background-image: url("http://seeklogo.com/images/W/wechat-logo-80E2190E63-seeklogo.com.png");
			background-size: 100%; 
		}
.white-space-container, .about-container, .contact-container {
	height: 80px; 
	background-color: #ffffff; 
	opacity: 0.8;
	font-size: 35px; 
	padding: 50px; 
	font-family: 'Oswald', sans-serif;
	text-align: center; 
	padding-bottom: 100px; 
}
	.white-space-container span, .about-container span, .contact-container span {
		color: #ff5A00;
	}
.white-space-container h1 {
	text-align: center; 
}
.projects-container {
	text-align: center;
	background-color: white;
	opacity: 0.8;
	padding-top: 20px;
	padding-bottom: 20px;
}
	.projects-container .projects {
		display: inline-block;
		width: 25%;
		padding-left: 20px;
		padding-right: 20px; 
		height: 200px; 
		width: 200px; 
	}
		.top-row, .mid-row, .bot-row {
			padding: 30px; 
		}
			.top-row a, .mid-row a, .bot-row a {
				margin-left: 30px; 
				margin-right: 30px; 
			}
				.top-row .left {
					background-image: url("");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.top-row .mid {
					background-image: url("https://lh4.ggpht.com/KlhaTrjM6qPnf14RzwOK6Oau0WKYYL2w1BMgqSur6ukRUYW3nrzEjTqQwhYfQiu5C7w=w300");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.top-row .right {
					background-image: url("https://s-media-cache-ak0.pinimg.com/736x/0f/80/df/0f80df2bc849531e5343f04a35e6baae.jpg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.mid-row .left {
					background-image: url("http://indiepixelgames.com/wp-content/uploads/2016/04/300-Px-Icon.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 	
				}
				.mid-row .mid {
					background-image: url("https://i.vimeocdn.com/portrait/11495396_300x300.jpg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.mid-row .right {
					background-image: url("http://www.clipartsfree.net/vector/small/4707-cat-smile-clipart.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.bot-row .left {
					background-image: url("http://static.tumblr.com/3bed8fdf137e5b806e8f6b2a5d89b127/c6x83eg/2k9n19g29/tumblr_static_tumblr_static_totoro_pixel.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%;
				}
				.bot-row .mid {
					background-image: url("https://lh5.ggpht.com/At1hyJ2vxHBHwji0TfHHoo3iWxuSDwwXuP3CiMUuNhmJZerwkJGOtgIqRxlFR-GFVJw=w300"); 
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.bot-row .right {
					background-image: url("https://lh4.ggpht.com/CWDs9fOZqYXXs1YMpjIb_6BnCidqagfaKQ1HNIhNhzYzCngPCWmoWI3sNRUrOJd2cYk=w300");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 80%; 
				}
				.projects-container a:hover {
					outline: 2px solid #FFA500; 
				}

.bg-image2 { 
	height: 3150px; 
	/*background-image: url("http://cdn.paper4pc.com/images/serene-sky-hd-wallpaper-1.jpg");*/
	background-image: url("../img/santa secret.jpg");
	background-size: 100%; 
}
.parallax-container {
	background-color: #000000; 
	height: 400px; 
	opacity: 0.4;
}

.about-container {
	height: 600px;
	opacity: 0.8;
}	
	.about-container h1 {
		margin-bottom: 90px; 
	}
	.about-container .pic-container {
		display: inline-block;
		background-image: url("http://www.healthcareitnews.com/sites/default/files/start_up_illustration_2.jpg");
		background-position: center; 
		width: 40%;
		height: 300px; 
		background-repeat: no-repeat;
		margin-left: 30px; 
		margin-right: 30px; 
	}
	.about-container .text-container {
		display: inline-block;
		width: 40%;
		vertical-align: top; 
		text-align: left;
		font-family: 'Josefin Slab', serif;
	}
		.text-container p:nth-child(1) {
			margin-bottom: 20px; 
		}
		.text-container p:nth-child(2) {
			margin-top: 20px; 
			margin-bottom: 20px; 
		}
		.text-container p:nth-child(3) {
			margin-bottom: 50px; 
		}
		.text-container p:nth-child(3) span {

		}
.parallax2-container {
	height: 300px;
	background-color: #000000;
	opacity: 0.4;
}

.contact-container {
	height: 80px;
	opacity: 0.7;
}